*{
	margin: 0%;
	padding: 0%;
	color: #ffffff;
}

:root{
	--footer : rgb(54, 123, 123);
	--primary-color : rgb(29, 84, 84);
}

body{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: auto;
    align-items: center;
    background-color: var(--primary-color);
}

body > *{
    margin-top: 1rem;
}

input{
    padding: 1rem;
    width: 15rem;
	color: rgb(34, 6, 59);
}

.message{
    color: rgb(149, 255, 0);
}

#checkNumber {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#checkNumber:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
#checkNumber:active {
	position:relative;
	top:1px;
}

.social-links{
	display: flex;
	justify-content: space-between;
	width: 40vw;
	margin: 2rem auto;

}


/**links **/
.link {
	text-decoration: none;
	padding: 0.5rem 1rem;
}
  
.link-primary {
	background-color: var(--footer);
	border-radius: 0.5rem;
	color: white;
}
  
.link-secondary {
	color: var(--footer);
	border-radius: 0.5rem;
	border: 1px solid var(--footer);
}
  /**lists **/
.list-non-bullet {
	list-style: none;
}
  
.list-item-inline {
	display: inline;
	padding: 0rem 0.5rem;
}
  
  /**nav **/
  
.navigation {
	background-color: var(--footer);
	color: white;
	padding: 1rem;
	border-bottom-left-radius: 1rem;
}
  
.navigation .nav-brand {
	font-size: 1.5rem;
}
  
.navigation .nav-pills {
	text-align: right;
}
  
.navigation .link {
	color: white;
}
  
.navigation .link-active {
	font-size: 1.5rem;
}
  
  /* footer */
  
.footer {
	background-color: var(--footer);
	padding: 2rem 1rem;
	text-align: center;
	color: white;
	border-top-right-radius: 1rem;
	width: 100vw;
	margin-top: 12vh;
}

.footer .link {
	color: white;
}

.footer .footer-header {
	font-weight: bold;
	font-size: large;
}

.footer ul {
	padding-inline-start: 0px;
}

.disclaimer{
  color: rgb(149, 255, 0);
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
}